<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta content="" name="description">
        <meta content="" name="keywords">
        <title>Dashboard - Product Pipeline Pitch</title>
        <link rel="icon" type="image/x-icon" href="/static/images/Product Pipeline Pitch_Icon P3-01.svg"/>

        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ url_for('static', filename='assets_admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets_admin/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <!-- <link href="{{ url_for('static', filename='assets_admin/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet"> -->
        <!-- <link href="{{ url_for('static', filename='assets_admin/vendor/quill/quill.snow.css') }}" rel="stylesheet"> -->
        <!-- <link href="{{ url_for('static', filename='assets_admin/vendor/quill/quill.bubble.css') }}" rel="stylesheet"> -->
        <!-- <link href="{{ url_for('static', filename='assets_admin/vendor/remixicon/remixicon.css') }}" rel="stylesheet"> -->
        <link href="{{ url_for('static', filename='assets_admin/vendor/simple-datatables/style.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ url_for('static', filename='assets_admin/css/style.css') }}" rel="stylesheet">
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    </head>
    <body class="sb-nav-fixed" id="page-top">
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
                <a href="{{ url_for('admin') }}" class="logo d-flex align-items-center">
                    <img src="/static/images/Product Pipeline Pitch_Icon P3-01.svg" alt="">
                    <span class="d-none d-lg-block">Product Pipeline Pitch</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-people"></i>
                            <span id="totaluser" class="badge bg-primary badge-number">{{ total_user }}</span>
                        </a><!-- End Notification Icon -->
                    </li><!-- End Notification Nav -->

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-clipboard-check"></i>
                            <span id="totalsurvey" class="badge bg-primary badge-number">{{ total_surveys }}</span>
                        </a><!-- End Notification Icon -->
                    </li><!-- End Notification Nav -->

                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="/static/images/profile-img.jpg" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{{ url_for('index') }}">
                                    <i class="bi bi-house-door"></i>
                                    <span>Survey Home</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                            {% if check_lock %}
                                <a class="dropdown-item d-flex align-items-center" href="{{ url_for('lock_unlock') }}">
                                    <i class="bi bi-unlock"></i>
                                    <span>UnLock Login User</span>
                                </a>
                            {% else %}
                                <a class="dropdown-item d-flex align-items-center" href="{{ url_for('lock_unlock') }}">
                                    <i class="bi bi-lock"></i>
                                    <span>Lock Login User</span>
                                </a>
                            {% endif %}
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{{ url_for('logout') }}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </nav><!-- End Icons Navigation -->

        </header><!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-heading">Core</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('admin') }}">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                
                <li class="nav-heading">Controls</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('measure_concepts_table') }}">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Measure Concept Tables</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('product_table') }}">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Concept Tables</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('survey_table') }}">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Survey Tables</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ url_for('user_completed_table') }}">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>User Tables</span>
                    </a>
                </li>
            </ul>
        
        </aside><!-- End Sidebar-->
        
        