
{% include 'header_admin.html' %}
        <main id="main" class="main">
            <div class="pagetitle d-flex align-items-center justify-content-between">
                <h1>Dashboard</h1>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                    <i class="bi bi-arrows-fullscreen"></i>
                    Full Screen
                </button>
            </div><!-- End Page Title -->
            
            <div class="modal fade" id="fullscreenModal" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content fullscreen-all">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Rank
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Rank Chart -->
                                <!-- <canvas class="RankChart" id="RankChart" width="100%" height="40"></canvas> -->
                                <canvas class="RankChart" id="RankChart"></canvas>
                                <!-- End Rank CHart -->
                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Weighted Rank
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Bar Chart -->
                                <!-- <canvas class="WeightedRankChart" id="WeightedRankChart" width="100%" height="40"></canvas> -->
                                <canvas class="WeightedRankChart" id="WeightedRankChart"></canvas>
                                <!-- End Bar CHart -->
                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Participation
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Pie Chart -->
                                <!-- <canvas class="ParticipationChart" id="ParticipationChart" width="100%" height="40"></canvas> -->
                                <canvas class="ParticipationChart" id="ParticipationChart"></canvas>
                                <!-- End Pie CHart -->
                
                            </div>
                        </div>
              
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Average Interested Lanched
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Doughnut Chart -->
                                <!-- <canvas class="InterestedLanchedChart" id="InterestedLanchedChart" width="100%" height="40"></canvas> -->
                                <canvas class="InterestedLanchedChart" id="InterestedLanchedChart"></canvas>
                                <!-- End Doughnut CHart -->
                
                            </div>
                        </div>
              
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Average Path to Market
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Radar Chart -->
                                <!-- <canvas class="PathMarketChart" id="PathMarketChart" width="100%" height="40"></canvas> -->
                                <canvas class="PathMarketChart" id="PathMarketChart"></canvas>
                                <!-- End Radar CHart -->
                
                            </div>
                        </div>
              
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Average Pull Sales
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Polar Area Chart -->
                                <!-- <canvas class="PullSalesChart" id="PullSalesChart" width="100%" height="40"></canvas> -->
                                <canvas class="PullSalesChart" id="PullSalesChart"></canvas>
                                <!-- End Polar Area Chart -->
                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Full Screen Modal-->

            <section class="section mt-4">
                
                <div class="row">
          
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Rank
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Rank Chart -->
                                <canvas class="RankChart" id="RankChart" width="100%" height="40"></canvas>
                                <!-- End Rank CHart -->
                
                            </div>
                        </div>
                    </div>
          
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Weighted Rank
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Bar Chart -->
                                <canvas class="WeightedRankChart" id="WeightedRankChart" width="100%" height="40"></canvas>
                                <!-- End Bar CHart -->
                
                            </div>
                        </div>
                    </div>
          
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Participation
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Pie Chart -->
                                <canvas class="ParticipationChart" id="ParticipationChart" width="100%" height="40"></canvas>
                                <!-- End Pie CHart -->
                
                            </div>
                        </div>
                    </div>
          
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Average Interested Lanched
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Doughnut Chart -->
                                <canvas class="InterestedLanchedChart" id="InterestedLanchedChart" width="100%" height="40"></canvas>
                                <!-- End Doughnut CHart -->
                
                            </div>
                        </div>
                    </div>
          
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Average Path to Market
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Radar Chart -->
                                <canvas class="PathMarketChart" id="PathMarketChart" width="100%" height="40"></canvas>
                                <!-- End Radar CHart -->
                
                            </div>
                        </div>
                    </div>
          
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="bi bi-bar-chart-line"></i>
                                P3 2024 Average Pull Sales
                            </div>
                            <div class="card-body mt-4">
                
                                <!-- Polar Area Chart -->
                                <canvas class="PullSalesChart" id="PullSalesChart" width="100%" height="40"></canvas>
                                <!-- End Polar Area Chart -->
                
                            </div>
                        </div>
                    </div>
          
                </div>
            </section>

        </main><!-- End #main -->

        <!-- Vendor JS Files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='assets_admin/demo/chart-rank.js') }}"></script>
        <script src="{{ url_for('static', filename='assets_admin/demo/chart-Weighted-rank.js') }}"></script>
        <script src="{{ url_for('static', filename='assets_admin/demo/chart-participation.js') }}"></script>
        <script src="{{ url_for('static', filename='assets_admin/demo/chart-interested.js') }}"></script>
        <script src="{{ url_for('static', filename='assets_admin/demo/chart-path-market.js') }}"></script>
        <script src="{{ url_for('static', filename='assets_admin/demo/chart-pullsales.js') }}"></script>

        <!-- <script src="{{ url_for('static', filename='assets_admin/vendor/chart.js/chart.umd.js') }}"></script> -->
        <!-- <script src="{{ url_for('static', filename='assets_admin/vendor/echarts/echarts.min.js') }}"></script> -->

{% include 'footer_admin.html' %}
           
