{% include 'header_admin.html' %}
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Survey Tables</h1>
            </div><!-- End Page Title -->
            
            <section class="section mt-4">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card overflow-auto">
                            <div class="card-header">
                                <i class="bi bi-table"></i>
                                P3 2024 Survey DataTables
                            </div>
                            <div class="card-body">

                                <!-- Table with stripped rows -->
                                
                                <table class="table datatable table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>User ID</th>
                                            <th>Interested Lanched</th>
                                            <th>Path to Market</th>
                                            <th>Pull Sales</th>
                                            <th>comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for survey in surveys %}
                                            <tr>
                                                <td>{{ survey.product.name }}</td>
                                                <td>{{ survey.user.user_name }}</td>
                                                <td>{{ survey.interested_lanched }}</td>
                                                <td>{{ survey.path_to_market }}</td>
                                                <td>{{ survey.pull_sales }}</td>
                                                <td>{{ survey.comments }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main><!-- End #main -->      
{% include 'footer_admin.html' %}  
