{% include 'header_admin.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="mt-4">
                            <!-- <button type="button" class="btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#addUserModal">
                                Add User
                            </button> -->
                            <a href="#" id="confirmDeleteAllBtn" type="button" class="btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" onclick="openDeleteAllUserModal()">
                                Delete All Users
                            </a>
                        </div>
                        
                        <!-- Add User Modal -->
                        <!-- <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{{ url_for('add_user') }}">
                                            <div class="mb-3">
                                                <label for="productName" class="form-label">User Name</label>
                                                <input type="text" class="form-control" id="userName" name="name" required>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-primary shadow-sm float-end">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- Edit Concept Modal -->
                        <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editProductForm" method="post" action="{{ url_for('edit_user') }}">
                                            <input type="hidden" id="editUserId" name="id">
                                            <div class="mb-3">
                                                <label for="editUserName" class="form-label">User Name</label>
                                                <input type="text" class="form-control" id="editUserName" name="name" required>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-primary shadow-sm float-end">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmModalLabel">Delete User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete <span id="itemName"></span>?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a href="#" id="confirmDeleteBtn" class="btn btn-danger float-end">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4 mt-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                User DataTable
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>User ID</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for user in user_completed %}
                                            <tr>
                                                <td>{{ user.user_name }}</td>
                                                {% if user.user_name == 'admin' %}
                                                <td></td>
                                                <td></td>
                                                {% else %}
                                                <td>
                                                    <a href="#" class="shadow-sm" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="openEditUserModal('{{ user.user_name }}')">Edit</a>
                                                </td>
                                                <td>
                                                    <a href="#" class="shadow-sm" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" onclick="openDeleteUserModal('{{ user.user_name }}')">Delete</a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
{% include 'footer_admin.html' %}  
